# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local virtual environments
.venv/
__pypackages__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

